@import url('https://fonts.googleapis.com/css?family=Andada');

body {
  font-family: 'Andada', 'Courier New', Courier, monospace; 
  text-align: center;
  color: #D6DBC5;
}

.App {
  display: grid;
  background-image: url('./images/background.svg');
  
  height: 100vh;
  grid-template-rows: .5fr 4fr .5fr;
  
  grid-template-areas: "header"
                       "main"
                       "footer";
}

header {
  grid-area: header;
  background-color: #A6B491;
  display: flex;
  align-content: space-between;
}
.logo {
  width: 75%;
  display: flex;
  color: #3C4F51;
  font-size: 1.5em;
  font-weight: bold;
  align-content: center;
  padding: 20px;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
}

footer {
  grid-area: footer;
  background-color: #A6B491;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer a, nav a, .logo a {
  text-decoration: none;
  color: #3C4F51;
  margin: 0 10px;
}
footer a:hover, nav a:hover {
  text-decoration: underline;
}
main {
  display: flex;
  flex-direction: column; 
  align-content: center;
  justify-content: center;
  grid-area: main;
  background-color: #3C4F51;
  align-items: center;
  font-weight: bold;
  font-size: 2em;
  padding: 50px;
}
.best {
  background-image: url('./images/best.svg');
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
}
.pipe {
  background-image: url('./images/pipe.svg');
  background-repeat: no-repeat;
  width: 200px;
  height: 122px;
}
.random {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.random button {
  margin: 40px;
  width: 40%;
}
button {
  outline: none;
  cursor: pointer;
  font-size: .7em;
  color: #3C4F51;
  background-color: #A6B491;
  font-family: 'Andada', 'Courier New', Courier, monospace; 
}
input[type=text] {
  padding: 2px 10px;
  height: 2em;
  font-size: .7em;
  color: #3C4F51;
  font-family: 'Andada', 'Courier New', Courier, monospace; 
}
.search {
  height: 2.25em;
  margin: 0 20px;
}

