@import url('https://fonts.googleapis.com/css?family=Andada');

body {
  font-family: 'Andada', 'Courier New', Courier, monospace; 
  text-align: center;
  color: #D6DBC5;
}

.App {
  display: grid;
  background-image: url('./images/background.svg');
  position: relative;
  
  height: 100vh;
  grid-template-rows: .5fr 4fr .5fr;
  
  grid-template-areas: "header"
                       "main"
                       "footer";
}

header {
  grid-area: header;
  background-color: #A6B491;
  display: flex;
  align-content: space-between;
}
.logo {
  width: 80%;
  display: flex;
  color: #3C4F51;
  font-size: 1.5em;
  font-weight: bold;
  align-content: center;
  padding: 20px;
}
footer {
  grid-area: footer;
  background-color: #A6B491;
}

main {
  display: flex;
  flex-direction: column; 
  align-content: center;
  justify-content: center;
  grid-area: main;
  background-color: #3C4F51;
  align-items: center;
  font-weight: bold;
  font-size: 2em;
}

.pipe {
  background-image: url('./images/pipe.svg');
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  ;
}
